:root {
    --primary-color: #191716;
    --secondary-color: #f2f7f2;
    --tertiary-color: #f25f5c;
    --alternative-color: #00ffff;
    --alternative2-color: #00aaff;
    --alternative3-color: #919084;
}

header, body {
    margin: 0;
}

html, body, #root {
    height: 100%;
}

body {
    background-color: var(--secondary-color);
}

#root {
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--primary-color);
    height: auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: center;
}

header h1 {
    color: var(--secondary-color);
    font-family: sans-serif, 'Arial';
    padding-left: 10px;
}

header ul {
    display: flex;
    list-style: none;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
}
header ul li {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
header ul li:hover {
    cursor: pointer;
    text-decoration:underline;
}



footer {
    background-color: var(--alternative3-color);
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
}

footer p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 10px;
}

footer a {
    color: #0000ff;
    text-decoration: none;
}
footer a:visited {
    color: #0055bb;
}
footer a:hover {
    text-decoration: underline;
}


.fira-sans-regular {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.fira-sans-bold {
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.fira-sans-black {
    font-family: "Fira Sans", sans-serif;
    font-weight: 900;
    font-style: normal;
}


.space-grotesk-regular {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.space-grotesk-bold {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.flex-break {
    flex-basis: 100%;
}

.montserrat-regular {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.montserrat-bold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.montserrat-black {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.container {
    display:flex;
    justify-content: center;
}