section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

article {
    border: 3px solid var(--primary-color);
    border-radius: 15px;
    padding: 10px;
    flex-basis: 50%;
    box-shadow: 10px 10px 5px 0px;
}

article h2 {
    font-size: 1.5rem;
    margin-top: 0;
}

form label {
    display: block;
}

form input {
    box-sizing: border-box;
    font-size: 18px;
    margin-top: 3px;
    margin-bottom: 12px;
}

input {
    width: calc(100% - 24px)
}

button {
    display: block;
    margin: auto;
    font-size: 1rem;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    padding: 2px 10px;
}

button:hover {
    cursor: pointer;
    animation-name: hover-button;
    animation-duration: 0.1s;
    animation-iteration-count: 1;
    animation-direction: reverse;
    animation-fill-mode: forwards;
}

form svg:hover {
    cursor: pointer;
}

@media (max-width: 640px) {
    article {
        flex-basis: 80%;
    }
}
@media (max-width: 480px) {
    article {
        flex-basis: 100%;
    }
}
@media (min-width: 1080px) {
    article {
        flex-basis: 30%;
    }
}