section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.article-main {
    border: 3px solid var(--primary-color);
    border-radius: 15px;
    padding: 10px;
    flex-basis: 50%;
    box-shadow: 10px 10px 5px 0px;
}

#error-container {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.error-block {
    width: 50%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    line-height: 1;
    font-size: 18px;
    background-color: #ff3131;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    margin: auto;
    margin-bottom: 10px;
}

.error-block > span {
    flex-grow: 1;
}

#error-container {
    flex-wrap: wrap;
    display: block;
}

article h2 {
    font-size: 1.5rem;
    margin-top: 0;
}

.form-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
}

#firstName {
    grid-row: 2/2;
    grid-column: 1/1;
}
#firstNameLabel {
    grid-area: 1/1/1/1;
}
#lastName {
    grid-row: 2/2;
    grid-column: 2/2;
}
#lastNameLabel {
    grid-row: 1/1;
    grid-column: 2/2;
}


form label {
    display: block;
}

form input {
    box-sizing: border-box;
    font-size: 18px;
    margin-top: 3px;
    margin-bottom: 12px;
    margin-right: 10px;
}

input {
    width: calc(100% - 34px)
}

button {
    display: block;
    margin: auto;
    font-size: 1rem;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    padding: 2px 10px;
}

button:hover {
    cursor: pointer;
    animation-name: hover-button;
    animation-duration: 0.1s;
    animation-iteration-count: 1;
    animation-direction: reverse;
    animation-fill-mode: forwards;
}

form svg:hover {
    cursor: pointer;
}

@media (max-width: 640px) {
    .article-main {
        flex-basis: 80%;
    }
    .error-block {
        width: 80%;
    }
}
@media (max-width: 480px) {
    .article-main {
        flex-basis: 100%;
    }
    .error-block {
        width: 100%;
    }
}
@media (min-width: 1080px) {
    .article-main {
        flex-basis: 30%;
    }
    .error-block {
        width: 30%;
    }
}