h1 {
    text-align: center;
    margin-bottom: 0;
}

button {
    text-align: center;
}

#cards {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    border: 3px black solid;
    border-radius: 10px;
    padding: 10px 20px 10px 10px;
    min-width: 45vw;
}

.card-container > h2 {
    display: inline-block;
    align-self: center;
    padding-left: 20px;
    flex-grow: 1;
}

#dashboard {
    margin: 30px 0;
    padding: 10px 10px;
    background-color: var(--alternative2-color);
    border: 2px black solid;
    border-radius: 5px;
    font-size: 1.5rem;
    font-family: sans-serif;
    text-decoration: none;
}
#dashboard:hover {
    cursor: pointer;
    background-color: var(--alternative-color);
}